.navbr{
   
    background-color: #310b0b;
    padding: 10px;
    height: 50px;
    width: 100%;
    text-align: center;
}
.navbr a{
    
    color: white;
    text-decoration: none;
    font-size: 25px;
    padding: 5px;
    margin-left: 36px;
}

.logo{
    float: left;
    font-family: cursive;
}



/* css for input form */
.createPost{
    background-color: #310b0b;
    padding: 10px;
    width: 100%;
    display: contents;
    z-index: 1;
    text-align: center;
}

.createPostForm{
    background-color: #310b0b;
    display: block;
    justify-content: center;
    text-align: -webkit-center;
    width : 50%;

}
.createPostFormElement{
    display: block;
    justify-content: center;
    text-align: -webkit-center;
    height: 40px;
    margin: 20px;
    width: -webkit-fill-available;

}

.btn_nav{
    width: 200px;
    height: 37px;
    background-color: #624848;
    border-radius: 14px;
    float: right;
    color: white;
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


.btn_trash{
    font-size: xx-large;
    margin-left: 20px;

}
.deletePost{
    float: right;

}

.btn{
    width: 400px;
    height: 45px;
    background-color: #310b0b;
    color: white;
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


.post{
    width: "100%";
    background-color: #310b0b;
    border: #310b0b;
    padding: 10px;
    width: 100%;
    display: contents;
    z-index: 1;
    text-align: center;
}
.completePostArea {
    width: 100%;
    min-height: calc(100vh - 80px);
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
  }
  
  .completePostArea .post {
    width: 600px;
    height: auto;
    max-height: 600px;
    background-color: rgb(250, 250, 250);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    margin: 20px;
    padding: 20px;
    border-radius: 15px;
  }

.Rtn_cards{
    text-align: -webkit-center;
    
}





.card {

    text-align-last: center;
    border-radius: 25px;
    position: relative;
    padding: 25px 15px;
    background-color: #683030;
    color: white;
    margin: 50px 0;
    height: 200px;
    box-shadow: 0 2px 5px #ccc;
    text-align: left;
    width: 50%;
    overflow: scroll;
  }
  

  .title {
      font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align-last: center;
    border-radius: 25px 25px 0 0;
    height: 100px;
    width: 100%;
    background-color: #310b0b;
    color: white;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
  }

  
/* .name {
    font-size: 2em;
    color: #2d3436;
    display: flex;
    flex: 1;
    margin: 10% 20px 0;
  } */


  .content{
    margin-top: 80px;
    word-wrap: break-word;
    height: auto;
    max-height: 400px;
    width: 100%;
    overflow: hidden;
    overflow-y: auto;
  }
  
.bottom {
    margin-top: 120px;
  }















  /* ___________________________________________________________________________________________________ */

  .login-with-google-btn {
    cursor: pointer;
    transition: background-color 0.3s, box-shadow 0.3s;
    padding: 5px 16px 12px 42px;
    border: none;
    border-radius: 3px;
    box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.04), 0 1px 1px rgba(0, 0, 0, 0.25);
    color: #757575;
    font-size: 25px;
    font-weight: 500;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
      Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTgiIGhlaWdodD0iMTgiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGcgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIj48cGF0aCBkPSJNMTcuNiA5LjJsLS4xLTEuOEg5djMuNGg0LjhDMTMuNiAxMiAxMyAxMyAxMiAxMy42djIuMmgzYTguOCA4LjggMCAwIDAgMi42LTYuNnoiIGZpbGw9IiM0Mjg1RjQiIGZpbGwtcnVsZT0ibm9uemVybyIvPjxwYXRoIGQ9Ik05IDE4YzIuNCAwIDQuNS0uOCA2LTIuMmwtMy0yLjJhNS40IDUuNCAwIDAgMS04LTIuOUgxVjEzYTkgOSAwIDAgMCA4IDV6IiBmaWxsPSIjMzRBODUzIiBmaWxsLXJ1bGU9Im5vbnplcm8iLz48cGF0aCBkPSJNNCAxMC43YTUuNCA1LjQgMCAwIDEgMC0zLjRWNUgxYTkgOSAwIDAgMCAwIDhsMy0yLjN6IiBmaWxsPSIjRkJCQzA1IiBmaWxsLXJ1bGU9Im5vbnplcm8iLz48cGF0aCBkPSJNOSAzLjZjMS4zIDAgMi41LjQgMy40IDEuM0wxNSAyLjNBOSA5IDAgMCAwIDEgNWwzIDIuNGE1LjQgNS40IDAgMCAxIDUtMy43eiIgZmlsbD0iI0VBNDMzNSIgZmlsbC1ydWxlPSJub256ZXJvIi8+PHBhdGggZD0iTTAgMGgxOHYxOEgweiIvPjwvZz48L3N2Zz4=);
    background-color: white;
    background-repeat: no-repeat;
    background-position: 12px 11px;
  }
  .login-with-google-btn:hover {
    box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.04), 0 2px 4px rgba(0, 0, 0, 0.25);
  }
  .login-with-google-btn:active {
    background-color: #eeeeee;
  }
  .login-with-google-btn:focus {
    outline: none;
    box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.04), 0 2px 4px rgba(0, 0, 0, 0.25),
      0 0 0 3px #c8dafc;
  }
  .login-with-google-btn:disabled {
    filter: grayscale(100%);
    background-color: #ebebeb;
    box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.04), 0 1px 1px rgba(0, 0, 0, 0.25);
    cursor: not-allowed;
  }




  .loginPage{
    text-align: -webkit-center;
    border: 2px solid black;
    padding: 200px
  }

  .textOnlogin{
    font-size: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: -webkit-center;
    color: #683030;
  }